<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Let's dig into the legacy</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel = "stylesheet" href = "/css/member.css" th:href = "@{/css/member.css}">
	</head>
	<body>
		<div id = "all_members_text">
			<p>List of all members</p>
		</div>
		<div id = "adjust_block">
			<form action = "filter" method = "get">
				<p>
					<label>Min age:</label>
					<input class = "filter" type = "text" name = "min_age" pattern = "[0-9]{1,3}"></input>
				</p>
				<p>
					<label>Max age:</label>
					<input class = "filter" type = "text" name = "max_age" pattern = "[0-9]{1,3}"></input>
				</p>
				<p>
					<label>Sort by:</label>		
					<input type = "radio" name = "sortby" value = "id">
					<label>Id</label>
					<input type = "radio" name = "sortby" value = "name">
					<label>Name</label>
					<input type = "radio" name = "sortby" value = "patronymic">
					<label>Patronymic</label>
					<input type = "radio" name = "sortby" value = "surname">
					<label>Surname</label>
					<input type = "radio" name = "sortby" value = "age">
					<label>Age</label>
					<input type = "radio" name = "sortby" value = "sex">
					<label>Sex</label>
				</p>
				<p>
					<input type = "submit" value = "Accept"></input>
				</p>
			</form>
		</div>
		<div id = "all_members">
			<table>
				<thead>
					<tr th:if = "${not members.empty}">
						<th>Id</th>
						<th>Name</th>
						<th>Patronymic</th>
						<th>Surname</th>
						<th>Year</th>
						<th>Sex</th>
						<th>Mother</th>
						<th>Father</th>
					</tr>	
				</thead>			
				<tbody>
					<tr th:if = "${members.empty}">
						<td>No available members now</td>
					</tr>
					<tr th:each = "member : ${members}">
						<td th:text = "${member.id}"></td>
						<td th:text = "${member.fullName.commonName.name}"></td>
						<td th:text = "${member.fullName.patronymic.length != 0} ? ${member.fullName.patronymic} : 'no data'"></td>
						<td th:text = "${member.fullName.commonName.surname}"></td>
						<td th:text = "${member.birthYear}"></td>
						<td th:text = "${member.sex}"></td>
						
						<td th:text = "${member.parents.mother != null} 
						? ${member.parents.mother.fullName.commonName.name.substring(0,1)} 
						+ '. ' 
						+ ${member.parents.mother.fullName.commonName.surname}
						: 'no data'"></td>
						
						<td th:text = "${member.parents.father != null} 
						? ${member.parents.father.fullName.commonName.name.substring(0,1)} 
						+ '. ' 
						+ ${member.parents.father.fullName.commonName.surname}
						: 'no data'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>